Use same request method when following 308 status

Pretty much the same as Issue https://github.com/olalonde/follow-redirects/issues/27, HTTP 308 redirects should also use the same request method rather than changing the method to `GET`.

Per [RFC 7238](https://tools.ietf.org/html/rfc7238#section-3):
> 308 Permanent Redirect
>
>   The 308 (Permanent Redirect) status code indicates that the target resource has been assigned a new permanent URI and any future references to this resource ought to use one of the enclosed URIs.
>
>   Clients with link editing capabilities ought to automatically re-link references to the effective request URI (Section 5.5 of [RFC7230]) to one or more of the new references sent by the server, where possible.
>
>   The server SHOULD generate a Location header field ([RFC7231], Section 7.1.2) in the response containing a preferred URI reference for the new permanent URI.  The user agent MAY use the Location field value for automatic redirection.  The server's response payload usually contains a short hypertext note with a hyperlink to the new URI(s).
>
>   A 308 response is cacheable by default; i.e., unless otherwise indicated by the method definition or explicit cache controls (see [RFC7234], Section 4.2.2).
>
>   Note: This status code is similar to 301 (Moved Permanently) ([RFC7231], Section 6.4.2), except that it does not allow changing the request method from POST to GET.

That's right; tracking the status of this in #12.

Ok, cool. 👍   Good to know that you're already on it.  Thanks for the great library!